# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
*.db
*.sqlite3
test_scos.db
scos.db

# Media
*.mp4
*.mov
*.avi
*.mkv

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
